.footer {
    margin-left: auto;
    margin-right: auto;
    background-color: #2f303a;
  }
  .box {
    display: flex;
    align-items: top;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-box-link {
    display: inline-block;
    width: 146px;
    margin-bottom: 20px;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;

    &-white-theme {
    color: white; 
    }
  }

  .footer-address-item {
    margin-bottom: 9px;
    list-style-type: none;

    &-link {
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71px;
      /* or 171% */
      font-style: normal;
      letter-spacing: 0.03em;
      color: #ffffff;
      text-decoration: none;
    }
  }
  
  .footer-email-link,
  .footer-tell-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  
  // =============================
  .footer-network {
    margin-top: 12px;
    margin-left: 70px;
    width: 206px;

    &-text {
      margin-bottom: 20px;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  
   .fotter-network-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    &-item:not(:last-child) {
      margin-right: 10px;
    }
  }

 
  .footer-network-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: 250ms $time-function;

    &:hover,
    &:focus {
    background-color: #2196f3;
    }

    &-logo {
      fill: #ffffff;
      width: 20px;
      height: 20px;
    }
  }
 
  /* ==========FOOTER SUBSCRIPTION================ */
    .footer-subscription {
    margin-top: 12px;
    margin-left: 93px;
  }
  
  .footer-subscription-text {
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .footer-subscription-form{
    display: flex;
    
  }
   
  .footer-subscription-form-input {
    display: block;
    width: 358px;
    margin-right: 12px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  
  .footer-subscription-form-btn {
    position: relative;
    width: 200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 62px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    &-icon {
    position: absolute;
    top: 13px;
    left: 148px;
    height: 24px;
    width: 24px;
    background: #2196f3;
    fill: #ffffff;
  }
  }
  
  
  